---
color_dark_brown:
  r: 30
  g: 25
  b: 15
  a: 255
color_medium_brown:
  r: 110
  g: 90
  b: 80
  a: 255
color_light_green:
  r: 110
  g: 180
  b: 32
  a: 255
color_tile_blue_light:
  r: 4
  g: 30
  b: 50
  a: 255
color_tile_blue_dark:
  r: 2
  g: 17
  b: 35
  a: 255
color_light_brown:
  r: 158
  g: 134
  b: 100
  a: 255
color_ice_blue:
  r: 0
  g: 128
  b: 255
  a: 255
color_dark_blue:
  r: 0
  g: 0
  b: 64
  a: 255
color_very_dark_blue:
  r: 1
  g: 10
  b: 18
  a: 255
color_orange:
  r: 217
  g: 54
  b: 0
  a: 255
color_red:
  r: 102
  g: 0
  b: 0
  a: 255
color_medium_grey:
  r: 40
  g: 40
  b: 40
  a: 255
color_mint_green:
  r: 146
  g: 197
  b: 127
  a: 255
color_blueish_grey:
  r: 45
  g: 45
  b: 65
  a: 255
color_pink:
  r: 210
  g: 137
  b: 154
  a: 255
color_rose_red:
  r: 104
  g: 43
  b: 58
  a: 255
color_light_orange:
  r: 246
  g: 148
  b: 12
  a: 255
color_bone_white:
  r: 24
  g: 226
  b: 183
  a: 255
color_warm_grey:
  r: 99
  g: 95
  b: 82
  a: 255
color_soft_green:
  r: 172
  g: 216
  b: 172
  a: 255
color_light_grey:
  r: 132
  g: 132
  b: 132
  a: 255
fov_distance: 10
load_map_file_every_frame: false
tile_noise_scaler: 4.0
highlight_player_move: 226
highlight_attack: 90
sound_alpha: 86
grid_alpha: 8
grid_alpha_visible: 30
grid_alpha_overlay: 150
map_load: FromFile
map_file: map.xp
idle_speed: 0.3499999940395355
draw_mouse_line: false
draw_star_path: false
rate: 30
item_throw_speed: 30.0
goal_speed: 0.5
player_attack_speed: 2.0
sound_timeout: 0.5
player_yell_radius: 4
fog_of_war: true
player_health: 3
explored_alpha: 150
sound_rubble_radius: 3
sound_grass_radius: 1
sound_radius_crushed: 3
sound_radius_attack: 3
overlay_directions: false
overlay_player_fov: false
fov_radius_monster: 6
fov_radius_player: 10
